body {
  background-color: rgb(105, 104, 104);
}

.multiply-btn {
  padding: 12px;
}

.btn {
  font-size: 2rem;
  margin: 10px;
  padding: 5px 20px;
}

.btn-dark{
  border-radius: 50px;
}

.btn-primary{
  border-radius: 50px;
}
.form-control {
  font-size: 2rem;
}
